.row
  = form_for @team do |f|
    = f.hidden_field :id

    %fieldset.no-border
      = render partial: 'layouts/form_row', locals: {f: f, model: @team, html_form: f.text_field(:name), row_id: :name, row_name: 'Name', small_size: 12, large_size: 6, hint: 'Name of Team', required: true}
      = render partial: 'layouts/form_row', locals: {f: f, model: @team, html_form: f.text_field(:dns_server), row_id: :dns_server, row_name: 'DNS Server', small_size: 12, large_size: 6, hint: 'DNS server for resolving domains on services within team', required: false}
      = render partial: 'layouts/form_row', locals: {f: f, model: @team, html_form: f.text_field(:domain), row_id: :domain, row_name: 'Domain', small_size: 12, large_size: 6, hint: 'Domain name for team services', required: true}
    .row
    .small-12.columns.left
      = f.submit ((%w{new create}.include? params[:action]) ? 'Create' : 'Edit'), class: 'button'