.row.service-log
  .small-2.columns
    %img{src: service_log_img(log)}
  .small-10.columns
    %p
      %strong Service Check:
      = log.message
    %ul.inline-list
      - if current_user_admin?
        %li
          = link_to_function 'Debug', 'toggleLogDebug(this)'
      - if current_user_admin?
        %li
          = link_to 'Remove', clear_service_log_path(log), method: :post
      %li.time
        = log.created_at.strftime '%I:%M:%S %p'

    - if current_user_admin?
      .row.debug
        .small-10.columns.panel
          %p
            %strong Debug:
            = simple_format h(log.debug_message)
  %hr