- klass = "Workers::#{Workers::GenericWorker::WORKERS[worker_name]}".constantize
- unless klass <= Workers::GenericWorker
  - raise 'Invalid Worker Specified'
%div{id: "params-#{worker_name}"}
  - klass.service_params.each do |key, param|
    - value = @service.params[worker_name]
    - if value.nil?
      - value = param[:default]
    - else
      - value = value[key.to_s] || param[:default]
    = render partial: 'layouts/form_row', locals: {f: nil, model: nil, html_form: text_field_tag("service[params][#{worker_name}][#{key.to_s}]", value.to_s), row_id: nil, row_name: param[:name], small_size: 12, large_size: 6, hint: (param[:description] || '&nbsp;'), required: param[:required]}
