- if @services.length > 0
  %dl.tabs
    - is_first = true
    - @services.each do |team, service_list|
      - team = Team.new(name: 'None', id: 0) if team.nil?
      %dd{class: (is_first ? 'active':'')}= link_to "Team #{team.name}", "#team#{team.id}"
      - is_first = false
- if @services.length > 0
  %ul.tabs-content
    - is_first = true
    - @services.each do |team, service_list|
      - team = Team.new(name: 'None', id: 0) if team.nil?
      %li{id: "team#{team.id}Tab", class: (is_first ? 'active':'')}
        .progress.success.text{id: "uptime#{team.id}"}
          .meter{style:"width:#{team.uptime}%"}
            .text
              = "#{team.uptime}%"

        %table.twelve.services
          %thead
            %tr
              %th
              %th Name
              %th Worker
              %th Host
              %th Uptime
              - if current_user_admin?
                %th

          %tbody
            - service_list.each do |service|

              - unless service.blank?
                %tr{class: service_class(service), id:"service#{service.id}"}
                  %td.service_img{style:'padding:0px;'}
                  %td= link_to service.name, service
                  %td= service.worker
                  %td= service.params[service.worker]['rhost']+" : "+service.params[service.worker]['rport']
                  %td= "#{service.up_time}%"
                  - if current_user_admin?
                    %td
                      %ul.inline-list
                        %li= link_to '<i class="icon-pencil"> </i>Edit'.html_safe, edit_service_path(service)
                        %li= link_to_function '<i class="icon-bolt"> </i>Duplicate'.html_safe, "duplicate_service('#{service.id}','#{service.team_id}','#{service.name}')"
                        %li= link_to '<i class="icon-trash"> </i>Destroy'.html_safe, service, method: :delete, data: { confirm: 'Are you sure?' }
        - if current_user_admin? and not (team.id.nil? or team.id == 0)
          = link_to '<i class="icon-pencil"></i> Edit Team'.html_safe, edit_team_path(team), class: 'button'
      - is_first = false

- if current_user_admin?
  - if @services.length > 0
    %br
    = link_to '<i class="icon-cloud"></i> Add Service'.html_safe, new_service_path, class: 'button'
  = link_to '<i class="icon-group"></i> Add Team'.html_safe, new_team_path, class: 'button'

  #duplicateModal.reveal-modal
    %a.close-reveal-modal &#215;
    %h2
      Duplicate
      %span#service_name
    = form_tag service_duplicate_path, method: :post, class: 'formee' do
      = hidden_field_tag 'service_id', ''
      .row
        .eight.columns.end
          = label_tag 'Team'
          = select_tag 'team_id', options_for_select(Team.options_list)
      .row
        = submit_tag 'Duplicate'
