- if @services.length < 1
  .twelve.panel
    %b There are no services

- else
  %dl.tabs{'data-tab'=>''}
    - is_first = true
    - if current_user.is_admin or current_user.is_red_team
      %dd.active{id: 'overview'}
        = link_to "Overview", "#overviewTab"
        - is_first = false
    - @services.each do |team, service_list|
      - team = Team.new(name: 'None', id: 0) if team.nil?
      %dd{class: (is_first ? 'active':''), id: team.id}
        = link_to "Team #{team.name}", "#team#{team.id}Tab"
      - is_first = false

  .tabs-content#team-tabs
    - is_first = true
    - if current_user.is_admin or current_user.is_red_team
      #overviewTab.content.active

        - unless current_user.is_red_team
          .small-1.end
            = button_tag fa_icon('bar-chart-o'), class: 'button expandGraph round', data: {graphid: 'graphSectionOverview'}
          .graphSection.panel.small-12.columns.hidden{id: 'graphSectionOverview'}
            .graphArea{id: "serviceGraphOverview", 'data-graph-url' => team_graph_path('overview')}
              Loading...

        %table.service-overview
          %thead
            %tr
              %th.two Service
              - @teams.each do |team|
                %th.two= "Team #{team.name}"
          %tbody
            - @overview.each do |service_name, overview_data|
              %tr
                %td
                  %b= service_name
                - @teams.each do |team|
                  %td
                    - if overview_data.key? team.id
                      %a{href: service_path(overview_data[team.id][:service_id])}
                        %img{src:overview_data[team.id][:service_img], id: "overviewIcon#{overview_data[team.id][:service_id]}"}
      - is_first = false
    - @services.each do |team, service_list|
      - team = Team.new(name: 'None', id: 0) if team.nil?
      .content{id: "team#{team.id}Tab", class: (is_first ? 'active':'')}
        = hidden_field_tag 'team-id', team.id

        - unless current_user.is_red_team
          .progress.success.text.small-11.columns{id: "uptime#{team.id}"}
            .meter{style:"width:#{team.uptime}%"}
              .text
                = "#{team.uptime}%"
          .small-1.columns
            = button_tag fa_icon('bar-chart-o'), class: 'button expandGraph round', data: {graphid: "graphSection#{team.id}"}
          .graphSection.panel.small-12.columns.hidden{id: "graphSection#{team.id}"}
            .graphArea{id: "serviceGraph#{team.id}", 'data-graph-url' => team_graph_path(team)}
              Loading...

        %table.small-12.columns.services
          %thead
            %tr
              %th
              %th Name
              %th Worker
              %th Host
              %th Uptime
              - if current_user_admin?
                %th

          %tbody
            - service_list.each do |service|

              - unless service.blank?
                %tr{class: service_class(service), id:"service#{service.id}"}
                  %td.service_img{style:'padding:0px;'}
                  %td
                    = link_to service.name, service
                    - unless service.public
                      .label.secondary private
                  %td= service.worker
                  %td= service.params[service.worker]['rhost']+" : "+service.params[service.worker]['rport']
                  %td= "#{service.up_time}%"
                  - if current_user_admin?
                    %td
                      %ul.inline-list
                        %li= link_to fa_icon(:pencil, text: 'Edit'), edit_service_path(service)
                        %li= link_to fa_icon('trash-o', text: 'Destroy'), service, method: :delete, data: { confirm: 'Are you sure?' }
      - is_first = false

- if current_user_admin?
  - if @services.length > 0
    %br
  = link_to fa_icon(:cloud, text: 'Add Service'), new_service_path, class: 'button'
  = link_to fa_icon(:group, text: 'Add Team'), new_team_path, class: 'button'
  - if @services.length > 0
    = link_to fa_icon(:pencil, text: 'Edit Team'), '#', class: 'button', id: 'edit-team-btn'

:javascript
  $('#edit-team-btn').click(function() {
    var team_id = $('#team-tabs .active #team-id').val();
    if(!team_id)
      alert('Not a valid team');
    else
      document.location = '/teams/' + team_id + "/edit"
  });

  $('.expandGraph').click(function() {
    var graphid = $(this).attr('data-graphid');
    loadGraph(graphid);
  });