.twelve#filters
  %ul.inline-list
    %li{style:'background-color:#ccc; width:40px; padding-left:8px;'}
      = label_tag 'info', 'Info'
      = check_box_tag 'info', 'info', true, onclick: 'toggleFilter(this)'
    %li{style:'background-color:#e57746; width:40px; padding-left:3px;'}
      = label_tag 'warn', 'Warn'
      = check_box_tag 'warn', 'warn', true, onclick: 'toggleFilter(this)'
    %li{style:'background-color:#d9504c; width:40px; padding-left:3px;'}
      = label_tag 'error', 'Error'
      = check_box_tag 'error', 'error', true, onclick: 'toggleFilter(this)'

.twelve.columns.panel
  - if @log_lines.nil? or @log_lines.empty?
    = @error
  - else
    %table.daemon-log.hidden.twelve
      %tr
        %th.two Time
        %th.seven Message
        %th.three Service / Team
      - @log_lines.each do |line|
        %tr{class: line[:type].downcase}
          %td=line[:time]
          %td= line[:message]
          %td
            = line[:service]
            - unless line[:service].blank? or line[:team].blank?
              &#47;
            = line[:team]
    %b.empty-log.hidden
      There are no logs to display

:javascript
  var cookie_prefix = 'daemon-log-';
  var filters = ['info','warn', 'error'];
  var log_count = {'info': 0, 'warn': 0, 'error': 0};

  $(document).ready(function(){
    // Set filters based on cookie
    for(i in filters) {
      log_count[filters[i]] = $('.daemon-log tr.'+filters[i]).length;
      $('#filters #'+filters[i]).prop('checked', $.cookie(cookie_prefix+filters[i]) != 'hide');
      toggleFilter($('#filters #'+filters[i]));
    }
  });

  function updateTable() {
    var total_count = 0;

    for(i in filters) {
      if($('#filters #'+filters[i]).prop('checked'))
        total_count += log_count[filters[i]];
    }

    if(total_count == 0) {
      $('.daemon-log').hide();
      $('.empty-log').show();
    } else {
      $('.daemon-log').show();
      $('.empty-log').hide();
    }
  }

  function toggleFilter(filterBox){
    var checkbox = $(filterBox);
    var filter = checkbox.attr('id');
    if(checkbox.prop('checked'))
    {
      $.cookie(cookie_prefix+filter, 'show');
      var rows = $('.daemon-log .'+filter);
      rows.show();
    }
    else
    {
      $.cookie(cookie_prefix+filter, 'hide');
      var rows = $('.daemon-log .'+filter);
      rows.hide();
    }
    updateTable();
  }

