.small-12.columns.panel
  = form_tag hash_tool_path, multipart: true do
    - unless flash[:hash].blank?
      .row
        .small-12.columns
          %h5
            = "#{flash[:type].upcase}: #{flash[:hash]}"
      - unless flash[:source].nil?
        .row
          .small-12.columns.optional
            %h5
              Source:
              = link_to '[+]', '#', id: 'hash-source-toggle'
            .content.hidden#hash-source
              %blockquote
                = simple_format h(flash[:source])
      %hr
    .row
      .small-6.columns.left
        = label_tag 'type', 'Hash Type'
        = select_tag 'type', options_for_select([['MD5','md5'],['SHA1','sha1'],['SHA2','sha2']])
    %hr
    .row.do_resizeY
      .small-6.columns.resize_toY
        = label_tag 'source', 'Source'
        = select_tag 'source', options_for_select([['Text','text'],['HTTP','http'],['HTTPS','https'],['File','file']])
      .small-6.columns.resize_fromY
        %div{style:'position: absolute; bottom: 5px; left: 5px;'}
          = submit_tag 'Go', class: 'button'
    %hr
    #md5_options
      .row#http
        .small-6.columns
          = label_tag 'http', 'Http://'
          = text_field_tag 'http'
      .row#https
        .small-6.columns
          = label_tag 'https', 'Https://'
          = text_field_tag 'https'
      .row#text
        .small-12.columns
          = label_tag 'text', 'Text'
          = text_area_tag 'text'
      .row#file
        .small-6.columns
          = label_tag 'file', 'File'
          = file_field_tag 'file'

:javascript
  $('#source').change(function() {
    var val = $(this).val();
    $('#md5_options .row').hide();
    $('#md5_options #'+val).show();
  })
  $(function() {
    var default_source = $('#source').val();
    $('#md5_options .row').each(function() {
      if($(this).attr('id') == default_source)
        $(this).show();
      else
        $(this).hide();
    });
  });
  $('#hash-source-toggle').click(function(){
    $('#hash-source').toggle();
  });
