.small-12.columns#server_blocks
  - i = 0
  - @server_manager.server_list.sort_by{|s| s[:name]}.sort_by{|s| s[:status] == :running ? 0 : (s[:status] == :paused ? 1 : 2)}.each do |s|
    .small-5.columns.panel{class: s[:status].to_s}
      %h4
        -if s[:platform] == :linux
          = fa_icon :linux
        -elsif s[:platform] == :windows
          = fa_icon :windows
        - else
          = fa_icon 'hdd-o'
        = s[:name]
        - if s[:status] == :running and @server_manager.available_commands.include? :screenshot
          = link_to_function fa_icon('camera'), "screenshotOpen('#{s[:id]}')", class: 'button round screen-button'
      = render partial: "#{s[:manager]}_instance", locals: {s: s}
      %a{href:'#', class: 'button split command'}
        %span{'data-dropdown'=>"commands#{i}"}
      %ul.f-dropdown{'data-dropdown-content'=>'', id: "commands#{i}"}
        - if @server_manager.available_commands.include? :pause
          - if s[:status] == :paused
            %li= link_to fa_icon('play', text: 'Resume'), server_manager_command_path(s[:id], :resume), method: :post
          - elsif s[:status] == :running
            %li= link_to fa_icon('pause', text: 'Pause'), server_manager_command_path(s[:id], :pause), method: :post
        - if @server_manager.available_commands.include? :reboot and s[:status] == :running
          %li= link_to fa_icon('retweet', text: 'Reboot'), server_manager_command_path(s[:id], :reboot), method: :post
        - if @server_manager.available_commands.include? :power_off
          - if s[:status] == :running
            %li= link_to fa_icon('power-off', text: 'Power Off'), server_manager_command_path(s[:id], :power_off), method: :post
          - elsif s[:status] == :down
            %li= link_to fa_icon('power-off', text: 'Power On'), server_manager_command_path(s[:id], :power_on), method: :post
        - if @server_manager.available_commands.include? :rename and s[:status] == :down
          %li= link_to fa_icon('pencil', text: 'Rename'), server_manager_command_path(s[:id], :rename), 'data-reveal-id' => 'ajax_modal', 'data-reveal-ajax' => 'true'
        - if @server_manager.available_commands.include? :revert and s[:status] == :down and s[:snapshots].length > 0
          %li= link_to fa_icon('frown-o', text: 'Revert to Snapshot'), server_manager_command_path(s[:id], :revert), 'data-reveal-id' => 'ajax_modal', 'data-reveal-ajax' => 'true'
        - if @server_manager.available_commands.include? :snapshot and s[:status] == :down
          %li= link_to fa_icon('thumb-tack', text: 'New Snapshot'), server_manager_command_path(s[:id], :snapshot), 'data-reveal-id' => 'ajax_modal', 'data-reveal-ajax' => 'true'
    - i += 1

#ajax_modal.reveal-modal.tiny(data-reveal)
#screen_modal.reveal-modal.tiny(data-reveal)
  %a.close-reveal-modal &#215;
  = image_tag '', id: 'screen_img'

:javascript
  var screenInterval = null;
  function screenshotOpen(server_id) {
    $('#screen_modal #screen_img').attr('src', '#{server_manager_command_path('@id','screenshot')}?'.replace('@id',server_id) + new Date().getTime());
    $('#screen_modal').foundation('reveal', 'open');
  }
  function updateScreenShot() {
    var src = $('#screen_modal #screen_img').attr('src');
    src = src.split('?')[0] + '?' + new Date().getTime();
    $('#screen_modal #screen_img').attr('src', src);
  }
  $(document).on('opened', '#screen_modal', function() {
    if(screenInterval != null)
      clearInterval(screenInterval);
    screenInterval = setInterval(updateScreenShot, 3000);
  });
  $(document).on('closed', '#screen_modal', function() {
    screenInterval = clearInterval(screenInterval);
    screenInterval = null;
  });