- manager = ServerManager::AWSManager.get_instance
=# manager.server_list.inspect

.twelve.columns#server_list
  - count = 0
  - manager.server_list.each do |s|
    .five.columns.panel.radius{class: (s[:status] == :running ? 'callout' : '')}
      %h4
        -if s[:platform] == :linux
          %i.icon-linux
        -elsif s[:platform] == :windows
          %i.icon-windows
        - else
          %i.icon-hdd
        = s[:name]
      %ul{style:'margin-left: 10px'}
        %li= "Last Launch: #{time_ago_in_words(s[:last_launch])} ago"
        %li= "Private IP: #{s[:private_ip]}"
        %li= "Public IP: #{s[:public_ip]}"
      - if s[:status] == :running
        = link_to '<i class="icon-power-off"></i> Power Off'.html_safe, '#', class: 'button alert'
      - else
        = link_to '<i class="icon-power-off"></i> Power On'.html_safe, '#', class: 'button success'
    - if count % 2 == 0
      .two.column &nbsp;
    - count += 1
