- manager = ServerManager::AWSManager.get_instance
=# manager.server_list.inspect

.small-12.columns#server_blocks
  - manager.server_list.inject([]){|a,s| a<<s.dup; s[:platform] = :windows; a<<s.dup; s[:platform] = :solaris; s[:status] = :off; a<<s.dup;}.each do |s|
    .small-5.columns.panel{class: (s[:status] == :running ? 'running' : 'down')}
      %h4
        -if s[:platform] == :linux
          = fa_icon :linux
        -elsif s[:platform] == :windows
          = fa_icon :windows
        - else
          = fa_icon 'hdd-o'
        = s[:name]
      %ul{style:'margin-left: 10px'}
        %li= "Last Launch: #{time_ago_in_words(s[:last_launch])} ago"
        %li= "Private IP: #{s[:private_ip]}"
        %li= "Public IP: #{s[:public_ip]}"
      = link_to fa_icon('power-off', text: 'Power'), '#', class: 'button power'
