.row
  .six.columns.offset-by-three.end.panel
    %h2 Sign Up
    = form_for resource, as: resource_name, url: registration_path(resource_name), html: {class: 'formee'} do |f|
      .row
        .ten.columns.offset-by-one.end
          = f.label :username
          = f.text_field :username, autofocus: true
      .row
        .ten.columns.offset-by-one.end
          =f.label :password
          = f.password_field :password
      .row
        .ten.columns.offset-by-one.end
          =f.label :password_confirmation
          = f.password_field :password_confirmation
      .row
        .ten.columns.offset-by-one.end
          .left
            = f.submit "Sign up"