%tr{class: (team_message.created_at > @last_time_checked ? 'new' : '')}
  %td.has-inline-list
    %ul.inline-list
      %li
        = link_to fa_icon(:reply), team_messages_reply_path(team_message.id)
      - if current_user_admin?
        %li= link_to fa_icon('trash-o'), team_message, method: :delete, data: { confirm: 'Are you sure?' }
  - if current_user_admin?
    %td= "Team #{team_message.team.name}"
  %td
    = link_to team_message.subject, team_message
    - if team_message.file?
      &nbsp;
      &nbsp;
      = fa_icon :download
  %td
    = team_message.created_at.strftime '%I:%M:%S %p'
