%tr{class: (team_message.created_at > @last_time_checked ? 'new' : '')}
  %td
    %ul.inline-list
      %li
        = link_to '<i class="icon-reply" style="text-decoration:none;"></i>'.html_safe, team_messages_reply_path(team_message.id)
      - if current_user_admin?
        %li= link_to '<i class="icon-trash" style="text-decoration:none;"></i>'.html_safe, team_message, method: :delete, data: { confirm: 'Are you sure?' }
  - if current_user_admin?
    %td= "Team #{team_message.team.name}"
  %td= link_to team_message.subject, team_message
  %td
    %time.timeago{datetime:team_message.created_at.to_time.iso8601}= time_ago_in_words team_message.created_at
