%dl.tabs
  %dd.active= link_to 'Inbox', '#inbox'
  %dd= link_to 'Outbox', '#outbox'

%ul.tabs-content
  %li.active#inboxTab
    = render partial: 'table', locals: {messages: @inbox}
  %li#outboxTab
    = render partial: 'table', locals: {messages: @outbox}

= link_to 'New Message', new_team_message_path, class: 'button'
