.row
  .small-5.columns.small-offset-7
    = form_tag team_messages_path, method: :get, class: 'foundation' do
      .row.collapse
        .small-2.columns
          - if params[:search].blank?
            &nbsp;
          - else
            = link_to 'Clear', team_messages_path, class: 'button prefix'
        .small-10.columns
          = text_field_tag 'search', params[:search], placeholder: 'search'

.row
  %dl.messages.vertical.tabs{'data-tab'=>''}
    %dd.active= link_to 'Inbox', '#inboxTab'
    %dd= link_to 'Outbox', '#outboxTab'
    %br
    = link_to 'New Message', new_team_message_path, class: 'button'
    %br
    %small
      Refresh in
      %span#refresh-timer(data-refresh-page="yes")
      sec

  .tabs-content.vertical
    #inboxTab.content.active
      = render partial: 'table', locals: {messages: @inbox}
    #outboxTab.content
      = render partial: 'table', locals: {messages: @outbox}


