//////////////////////
// Service Overview //
//////////////////////
%section.col-lg-12
  .box.box-success
    .box-header
      .pull-right.box-tools
        %button.btn.btn-success.btn-sm#overview-change
          = fa_icon(:tachometer)
      = fa_icon(:cloud)
      %h3.box-title Service Overview
    #serviceOverview

%script#teamOverviewTemplate(type="text/x-handlebars-template")
  .box-footer
    .row(id="serviceOverviewTeam{{team.id}}")
      .col-sm-2.col-md-1.text-center(style="border-right: 1px solid #f4f4f4")
        Team {{team.name}}

%script#serviceOverviewTemplate(type="text/x-handlebars-template")
  .col-sm-2.col-md-1.text-center.service(style="border-right: 1px solid #f4f4f4" id="serviceMark{{service.id}}")
    %a(href="#" data-service-id="{{service.id}}")
      /(href="/services/{{service.id}}")
      %i.fa
      .knob-container
        %input.knob(type="text" data-readonly="true" value="{{service.percentage}}" data-width="60" data-height="58" data-fgColor="#f56954" data-skin="tron" data-thickness="0.2")
      .knob-label {{service.name}}

%script#serviceMenuTemplate(type="text/x-handlebars-template")
  %li(id="serviceMenu{{service.id}}")
    %a(href="#")
      = fa_icon('angle-double-right')
      {{service.name}} ({{team.name}})

/////////////////////
// Service Details //
/////////////////////
%section.col-lg-12
  .box#serviceDetails

%script#serviceDetailsTemplate(type="text/x-handlebars-template")
  .box-header
    = fa_icon('bar-chart-o')
    %h3.box-title Service Details - {{service.name}} ({{team.name}})
  .box-body
    .row
      .col-sm-6
        .nav-tabs-custom
          %ul.nav.nav-tabs
            %li= link_to 'Overall', '#overallGraph', data: {toggle: 'tab'}
            %li= link_to 'Running Avg', '#runningAvgGraph', data: {toggle: 'tab'}
            %li= link_to 'Status', '#statusGraph', data: {toggle: 'tab'}
            %li.pull-right
              = link_to fa_icon('refresh'), '#', class: 'text-muted', id: 'refreshGraphBtn'
            %li.pull-right
              %small.message.text-muted
        .tab-content
          .tab-pane#overallGraph
            .graph-area(data-graph-url="/services/{{service.id}}/graph/overall" data-graph-type="line")
          .tab-pane#runningAvgGraph
            .graph-area(data-graph-url="/services/{{service.id}}/graph/moveavg" data-graph-type="line")
              Loading...
          .tab-pane#statusGraph
            .graph-area(data-graph-url="/services/{{service.id}}/graph/status" data-graph-type="pie")
              Loading...
