///////////////////////
// Service Overview //
/////////////////////
%section.col-lg-12#serviceOverview

%script#serviceOverviewTemplate(type="text/x-handlebars-template")
  .box.box-success
    .box-header
      .pull-right.box-tools
        %button.btn.btn-success.btn-sm#overviewChange
          = fa_icon(:tachometer)
      .pull-right.box-tools
        %button.btn.btn-success.btn-sm#overviewRefresh
          = fa_icon(:refresh)
      = fa_icon(:cloud)
      %h3.box-title Service Overview

%script#serviceOverviewRowTemplate(type="text/x-handlebars-template")
  .row
    .col-sm-2.col-md-1.text-center(style="border-right: 1px solid #f4f4f4")
      Team {{team.name}}

%script#serviceOverviewCellTemplate(type="text/x-handlebars-template")
  .col-sm-2.col-md-1.text-center(style="border-right: 1px solid #f4f4f4")
    %a(href="#")
      /(href="/services/{{service.id}}")
      %i.fa
      .knob-container
        %input.knob(type="text" data-readonly="true" value="{{service.percentage}}" data-width="60" data-height="58" data-fgColor="#f56954" data-skin="tron" data-thickness="0.2")
      .knob-label {{service.name}}

////////////////////
// Side Bar Menu //
//////////////////

%script#menuServiceLinkTemplate(type="text/x-handlebars-template")
  %a(href="#")
    = fa_icon('angle-double-right')
    {{service.name}} ({{team.name}})

//////////////////////
// Service Details //
////////////////////
%section.col-lg-12#serviceDetails

%script#serviceDetailsTemplate(type="text/x-handlebars-template")
  .box
    .box-header
      = fa_icon('bar-chart-o')
      %h3.box-title Service Details - {{service.name}} ({{team.name}})
    .box-body
      .row


%script#serviceDetailsGraphTemplate(type="text/x-handlebars-template")
  .col-sm-6
    .nav-tabs-custom
      %ul.nav.nav-tabs
        %li.pull-right
          = link_to fa_icon('refresh'), '#', class: 'text-muted', id: 'refreshGraphBtn'
        %li.pull-right
          %small.message.text-muted
    .tab-content

%script#serviceDetailsStatusTemplate(type="text/x-handlebars-template")
  .col-sm-6
    Oh Hai {{service.name}}