= form_for @user do |f|
  %fieldset.no-border
    = render partial: 'layouts/form_row', locals: {f: f, model: @user, html_form: f.text_field(:username), row_id: :username, row_name: 'UserName', small_size: 12, large_size: 6, hint: 'Name of User', required: true}
    = render partial: 'layouts/form_row', locals: {f: f, model: @user, html_form: f.select(:team_id, Team.options_list), row_id: :team_id, row_name: 'Team', small_size: 12, large_size: 6, hint: 'Assign this user to a team', required: false}
    = render partial: 'layouts/form_row', locals: {f: f, model: @user, html_form: f.select(:user_type, [['User', User::USER], ['Admin', User::ADMIN], ['Red Team', User::RED_TEAM]]), row_id: :user_type, row_name: 'Type', small_size: 12, large_size: 6, hint: 'What type of user is this?', required: false}

  .row
  .small-12.columns.left
    = f.submit (params[:action] == 'create' ? 'Create' : 'Edit'), class: 'button'