%dl.tabs
  - is_first = true
  - @users.each do |team, user_list|
    - team = Team.new(name: 'None', id: 0) if team.nil?
    %dd{class: (is_first ? 'active':'')}= link_to "Team #{team.name}", "#team#{team.id}"
    - is_first = false

%ul.tabs-content
  - is_first = true
  - @users.each do |team, user_list|
    - team = Team.new(name: 'None', id: 0) if team.nil?
    %li{id: "team#{team.id}Tab", class: (is_first ? 'active':'')}
      %ul.user_list
        - user_list.each do |user|
          %li
            .label.radius{class: (user.is_admin ? 'admin' : (user.is_red_team ? 'red_team' : 'user'))}
              = link_to user.username.capitalize, edit_user_path(user)
        - if user_list.blank?
          %h5 No Users
        - is_first = false

-#
  %br
  %br
  .panel.three
    %h4 Key
    %ul.user_list
      %li
        .label.admin.radius
          = link_to 'Admin', '#'
      %li
        .label.red_team.radius
          Red Team
      %li
        .label.user.radius
          User