.row
  .six.columns.offset-by-three.end.panel
    %h2 Sign In
    = form_for resource, as: resource_name, url: session_path(resource_name), html: {class: 'formee'} do |f|
      .row
        .ten.columns.offset-by-one.end
          = f.label :username
          = f.text_field :username, autofocus: true
      .row
        .ten.columns.offset-by-one.end
          =f.label :password
          = f.password_field :password

      - if devise_mapping.rememberable?
        .row
          .ten.columns.offset-by-one.end
            = f.label :remember_me do
              Remember Me
              = f.check_box :remember_me
      .row
        .ten.columns.offset-by-one.end
          .left
            = f.submit "Sign in"
          .right
            = button_to_function 'Sign Up', "window.location='#{new_user_registration_path}'"