= form_for @challenge_group, html: {class: 'formee'} do |f|
  %fieldset
    %legend Challenge Group
    .six.columns
      = f.label :name do
        Name
        %em.formee-req *
      = f.text_field :name
      .hint-text
        Name of the challenge group
      .form-error-text
        = @challenge_group.errors[:name].first if @challenge_group.errors[:name].length > 0
        &nbsp;
  .left
    = f.submit ((%w{new create}.include? params[:action]) ? 'Create' : 'Edit')
  .right
    = button_to_function 'Back', "window.location='#{challenges_path}'"