= form_for @challenge, html: {class: 'formee'} do |f|
  %fieldset
    %legend Challenge
    .six.columns
      = f.label :name do
        Name
        %em.formee-req *
      = f.text_field :name
      .hint-text
        Name of the challenge
      .form-error-text
        = @challenge.errors[:name].first if @challenge.errors[:name].length > 0
        &nbsp;
    .six.columns
      = f.label :group_id do
        Group
        %em.formee-req *
      = f.select :group_id, ChallengeGroup.options_list
      .hint-text
        Challenge group to categorize this challenge
      .form-error-text
        = @challenge.errors[:group_id].first if @challenge.errors[:group_id].length > 0
        &nbsp;
    .six.columns
      = f.label :link do
        Link
        %em.formee-req *
      = f.text_field :link
      .hint-text
        URL to redirect to
      .form-error-text
        = @challenge.errors[:link].first if @challenge.errors[:link].length > 0
        &nbsp;
    .twelve.columns
      = f.label :description do
        Description
        %em.formee-req *
      = f.text_area :description
      .hint-text
        Description to show before begining challenge
      .form-error-text
        = @challenge.errors[:description].first if @challenge.errors[:description].length > 0
        &nbsp;
  .left
    = f.submit ((%w{new create}.include? params[:action]) ? 'Create' : 'Edit')
  .right
    = button_to_function 'Back', "window.location='#{challenges_path}'"