%p#notice= notice

%p
  %b Group:
  = @challenge.group_id
%p
  %b Name:
  = @challenge.name
%p
  %b Description:
  = @challenge.description

= link_to 'Edit', edit_challenge_path(@challenge)
\|
= link_to 'Back', challenges_path
