.contain-to-grid
  .top-bar{'data-topbar'=>''}
    %ul.title-area
      %li.name{class: (daemon_running? ? 'running' : 'not-running')}
        %h1= link_to fa_icon(:cogs, text: '&nbsp;Score&nbsp;Engine'.html_safe), '/'
      %li.toggle-topbar.menu-icon
        = link_to '<span>Menu</span>'.html_safe, '#'

    %section.top-bar-section
      %ul.right
        - if user_signed_in?
          - unless current_user.is_red_team
            %li#messages_link{class: (TeamMessage.user_new_messages(current_user, last_time_inbox_checked) > 0 ? 'new_messages' : '')}
              = link_to fa_icon(:envelope, text: 'Messages'), team_messages_path
          %li
            = link_to fa_icon(:dashboard, text: 'Services'), services_path
          - if current_user.is_admin
            %li
              = link_to fa_icon(:desktop, text: 'Servers'), server_manager_path
          %li.has-dropdown
            = link_to fa_icon(:stethoscope, text: 'Tools'), '#'
            %ul.dropdown
              %li= link_to fa_icon(:lock, text: 'Hash'), hash_tool_path
              %li= link_to fa_icon('info-circle', text: 'DNS'), dns_tool_path
              - if current_user.is_admin
                %li= link_to fa_icon(:group, text: 'Users'), users_path
                %li= link_to fa_icon('list-ul', text: 'Daemon Log'), daemon_log_path
          %li.has-button
            = link_to fa_icon(:user, style: 'color:black', text: 'Logout'), destroy_user_session_path, method: :delete, class: 'small button'

#global_alert
  .row
    .small-8.columns.small-offset-2.alert-box{style:'visibility:'+(flash[:error] || flash[:alert] || flash[:notice] ? 'visible' : 'hidden'), class:(flash[:error] || flash[:alert] ? 'alert' : '')}
      = flash[:error]
      = flash[:alert]
      = flash[:notice] unless flash[:error] or flash[:alert]

- if not @header_text.nil?
  %header#titlebar{class: @header_class}
    .row
      .small-12.columns
        %h1.text
          - unless @header_icon.blank?
            = fa_icon @header_icon
          = @header_text