.contain-to-grid
  .top-bar
    %ul
      %li#text.name{class: (daemon_running? ? 'running' : 'not-running')}
        %h1
          = link_to raw('<i class="icon-cogs"></i>&nbsp;Score&nbsp;Engine'), '/'
      %li.toggle-topbar
        = link_to '', '#'

    %section
      %ul.right
        - if user_signed_in?
          - unless current_user.is_red_team
            %li#messages_link
              = link_to '<i class="icon-envelope"></i> Messages'.html_safe, team_messages_path
          %li
            = link_to '<i class="icon-dashboard"></i> Services'.html_safe, services_path
          -#%li
            = link_to '<i class="icon-trophy"></i> Challenges'.html_safe, challenges_path
          - if current_user.is_admin
            %li
              = link_to '<i class="icon-group"></i> Users'.html_safe, users_path
          %li.has-dropdown
            = link_to '<i class="icon-stethoscope"></i> Tools'.html_safe, '#'
            %ul.dropdown
              %li= link_to '<i class="icon-lock"></i> Hash'.html_safe, hash_tool_path
              %li= link_to '<i class="icon-info-sign"></i> DNS'.html_safe, dns_tool_path
              - if current_user.is_admin
                %li= link_to '<i class="icon-list-ul"></i> Daemon Log'.html_safe, daemon_log_path
          %li.has-button
            = link_to '<i class="icon-user" style="color:black;"></i> Logout'.html_safe, destroy_user_session_path, method: :delete, class: 'small button'
        - else
          %li.has-button
            = link_to '<i class="icon-user"></i> Login'.html_safe, new_user_session_path, class: 'small button'


- if not @header_text.nil?
  %header#titlebar{class: @header_class}
    .row
      .twelve.columns
        %h1
          - unless @header_icon.blank?
            %i{class:"icon-#{@header_icon}"}
          = @header_text