!!!html
:plain
  <!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
  <!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
  <!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
  <!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
  <!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->

%head
  %meta{charset: 'utf-8'}

  / Uncomment to make IE8 render like IE7
  / <meta http-equiv="X-UA-Compatible" content="IE=7" />

  / Set the viewport width to device width for mobile
  %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0'}

  %title= content_for?(:title) ? yield(:title) : 'Score Engine'

  :javascript
    var controllerName = '#{params[:controller]}';
    var actionName = '#{params[:action]}';

  = javascript_include_tag 'application'
  - if File.exists? File.join Rails.root, "app/assets/javascripts/#{params[:controller]}.js"
    = javascript_include_tag params[:controller]
  = stylesheet_link_tag 'application'

  = csrf_meta_tags

%body
  = render 'layouts/header'

  .row{style:'padding-top: 10px;'}
    #global_alert.alert-box{style:'visibility:'+(flash[:error] || flash[:alert] || flash[:notice] ? 'visible' : 'hidden'), class:(flash[:error] || flash[:alert] ? 'alert' : '')}
      = flash[:error]
      = flash[:alert]
      = flash[:notice] unless flash[:error] or flash[:alert]

  .row.content
    .twelve.columns
      = yield

:plain
  </html>
